.vscode/
/venv/
media/
static/
local_settings.py
__pycache__
*.pyc
/src/config/.env
/src/config/.env.test
.idea
.pytest_cache
src/tests/performance/logs
src/tests/performance/tank_errors.log
src/tests/performance/token.txt
transfer.log*