[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
phonenumbers = "*"
django-environ = "*"
python-telegram-bot = "*"
psycopg2-binary = "*"
bcrypt = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
