[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
phonenumbers = "==8.12.45"
django-environ = "==0.8.1"
python-telegram-bot = "==13.11"
psycopg2-binary = "==2.9.3"
bcrypt = "==3.2.0"
django-money = "==2.1.1"
flake8 = "*"
isort = "*"
black = "*"
pytest-django = "==4.5.2"
prettytable = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyjwt = "*"

[dev-packages]
psycopg2 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
